@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root{
    --w-logo: 100px;
    --h-logo: 100px;
    --w-logo-categoria: 50px;
    --h-logo-categoria: 50px;
    --h-nav: 70px;
    --font-noto-sans: "Noto Sans";
    --cor-preta: black;
    --cor-branca: white;
    --cor-logo: #34c9ff;
    --cor-bg: #2c2c2c;
    --cor-preco: #d69214;
    --cor-texto: #2c2c2c;

    
    
}

body {
    
    font-family: var(--font-noto-sans);
}
